.topnav {
    background-color: black;
    margin-bottom: 48px;
    overflow: hidden;
    display:flex;
    justify-content: flex-start;
    position: fixed;
    width: 100%;
    z-index: 10;

  }

.topnav a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.home{
    margin-left: auto;
}
/* .userPage{
    margin-right: auto;
} */
.topnav a:hover {
    background-color: rgb(255, 106, 0);
    color: black;
}
.active{
    background-color: rgb(255, 106, 0);
    color: black;
}
